# FOR URL REWRITING
<IfModule mod_rewrite.c>
RewriteEngine on

# for turt (details)
RewriteRule ^turt/?$ turt.enc.php

# for returt
RewriteRule ^returt/([\w]*)/?$ returt.enc.php?fid=$1

# for replies
RewriteRule ^([\w]*)/replies/([\d]*)/?$ replies.enc.php?type=$1&cid=$2

# for index
RewriteRule ^[\w]/?$ index.php
</IfModule>